@font-face {
    font-family: 'Work Sans-Local';
    src: url(../font/work-sans.ttf);
}
@font-face {
    font-family: 'Source Code Pro-Local';
    src: url(../font/source-code-pro.ttf);
}
/* #AIM-FOR-DEBUGGING,
* {
    outline: 1px solid #000000;
    background: rgba(255, 0, 0, 0.1) fixed;
} */
html body {
    --dark: #212529;
    --light: #f8f9fa;
    font-family: 'Work Sans-Local', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
.header-100vh {
    height: 100vh !important;
    padding-top: 73px !important;
}
.hero-title {
    color: #ff5100;
    text-shadow: 2px 2px 0 #212529;
}
.background-home {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(/asset/image/hero.jpg);
}
.card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asset/image/hero.jpg);
}
.color-testimonial {
    color: #ff5100;
    text-shadow: 1.5px 1.5px 0 #212529;
}
